.week .weeks1,.week .weeks2{
	width:50%;
}

.week2 .weeks1,.week2 .weeks2{
	width:50%;
}


.business_right .business_rights1{
	height:170px;
}


.business2 .business_right .business_rights1{
	height:250px;
}


#banner h1{
	width:90%;
}



