
@font-face {font-family: "iconfont";
  src: url('iconfont.eot?t=1501639855602'); /* IE9*/
  src: url('iconfont.eot?t=1501639855602#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('iconfont.woff?t=1501639855602') format('woff'), /* chrome, firefox */
  url('iconfont.ttf?t=1501639855602') format('truetype'), /* chrome, firefox, opera, Safari, Android, iOS 4.2+*/
  url('iconfont.svg?t=1501639855602#iconfont') format('svg'); /* iOS 4.1- */
}

.iconfont {
  font-family:"iconfont" !important;
  font-size:16px;
  font-style:normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-ibmlogo:before { content: "\e603"; }

.icon-huo:before { content: "\e66c"; }

.icon-sousuo:before { content: "\e614"; }

.icon-tab:before { content: "\e60c"; }

.icon-xiaoniao:before { content: "\e655"; }

.icon-in:before { content: "\e63b"; }

.icon-xiangyoujiantou-copy:before { content: "\e63c"; }

.icon-faxian:before { content: "\e602"; }

.icon-xiala:before { content: "\e653"; }

.icon-piaofang:before { content: "\e600"; }

.icon-rili:before { content: "\e601"; }

.icon-caigou-xianxing:before { content: "\e887"; }

.icon-xiangyoujiantou:before { content: "\e752"; }

.icon-weixin:before { content: "\e615"; }

.icon-rentou:before { content: "\e64d"; }

.icon-tongxunlu:before { content: "\e75d"; }

.icon-wo:before { content: "\e652"; }

